
.custom-text-banner-content{
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p.custom-text-banner-text {
    margin: 0;
    font-family: "Monument Extended";
    font-size: 64px;
    font-weight: 800;
    line-height: 64px;
}

p.custom-text-banner-subtext{
    font-family: "Monument Extended";
    font-size: 14px;
    color: white;
    margin: 0;
}

@media screen and (min-width: 990px) {


p.custom-text-banner-text {
    font-size: 120px;
    line-height: 120px;
}

p.custom-text-banner-subtext{
    font-size: 24px;
}

}