.essential-accessories-section{
    height: auto;
    max-width: var(--page-width);
    padding: 3.2rem 5rem 6.4rem 5rem;
    margin: 0 auto;
}

.essential-accessories-title{
    text-align: left;
    margin: 0 0 30px 0;
}

.essential-accessories-content{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 192px 192px;
    gap: 8px;
}

/* IMAGES */
.accessories-image-1, .accessories-image-2, .accessories-image-3, .accessories-image-4{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.accessories-image-1{
    grid-column: 1/2;
    grid-row: 1/3;
}

.accessories-image-2 {
    grid-column: 2/3;
    grid-row: 1/3;
}

.accessories-image-3 {
    grid-column: 3/5;
    grid-row: 1/2;
}

.accessories-image-4 {
    grid-column: 3/5;
    grid-row: 2/3;
}

/* TEXT */

.essential-accessories-content a{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    font-size: 3.2rem;
    text-decoration: none;
    color:rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    font-family: "Monument Regular" !important;
}

.acc-text::before{
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.1rem rgb(0, 0, 0); 
    z-index: 2;
}

.acc-text::after {
    content: attr(title);
    position: absolute;
    -webkit-text-stroke: 0.1rem rgb(255, 255, 255);
    z-index: 1;
    transform: translateX(-0.4rem) translateY(-0.4rem);
    transition: transform 0.5s, color 0s cubic-bezier(0.17, 0.67, 0.32, 0.87);
}

.white-acc::after{
    color: white;
    transition: transform 0.5s, color 0s cubic-bezier(0.17, 0.67, 0.32, 0.87);
    transform: translateX(-0.2rem) translateY(-0.2rem);
}

@media screen and (max-width: 750px) {

    .essential-accessories-section{
        padding: 3.2rem 1.5rem;
    }

    .essential-accessories-content{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 128px 128px 156px 156px;
        gap: 4px;
    }
    /* IMAGES */
    .accessories-image-1{
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
    .accessories-image-2 {
        width: 100%;
        grid-column: 2/3;
        grid-row: 1/3;
    }
    
    .accessories-image-3 {
        width: 100%;
        grid-column: 1/3;
        grid-row: 3/4;
    }
    
    .accessories-image-4 {
        width: 100%;
        grid-column: 1/3;
        grid-row: 4/5;
    }
    /* TEXT */
    .essential-accessories-content a{
        font-size: 1.8rem;
    }

    .acc-text::before{
        content: attr(title);
        position: absolute;
        -webkit-text-stroke: 0.1rem rgb(0, 0, 0); 
        z-index: 2;
    }
    
    .acc-text::after {
        content: attr(title);
        position: absolute;
        /* -webkit-text-stroke: 0.1rem rgb(255, 255, 255); */
        color: white;
        z-index: 1;
        transform: translateX(-0.2rem) translateY(-0.2rem);
        transition: transform 0.5s, color 0s cubic-bezier(0.17, 0.67, 0.32, 0.87);
    }
}