.multicolumn-custom{
    display: flex;
    max-width: var(--page-width);
    margin-top: 9.6rem;
    margin-bottom: 9.6rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5rem;
}

.multicolumn-custom p{
    text-align: center;
}

.multicolumn-custom img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 19.7rem;
}

.multicolumn-custom .left-multicolumn-custom img{
    margin-top: 4.9rem;
}

.multicolumn-custom .right-multicolumn-custom img{
    max-width: 9.8rem;
    max-height: 6.6rem;
}

@media screen and (max-width: 750px) {

    .multicolumn-custom{
        padding: 0 1.5rem;
    }

    .multicolumn-custom{
        flex-direction: column;
        margin-top: 6.4rem;
    }

    .multicolumn-custom .left-multicolumn-custom{
        margin-bottom: 4.8rem;
    }
}