.product-recommendations {
  display: block;
}

.product-recommendations:not(.product-recommendations--loaded) {
  padding: 0;
  margin: 0;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 2.4rem;
  font-size: 2rem;
  color: white;
  -webkit-text-stroke: 1px black;
  position: relative;
  font-family: "Monument Extended";
}

@media screen and (min-width: 750px) {
  .product-recommendations__heading {
    font-size: 2.4rem;
  }

}
