.footer{
  border-top:0.1rem solid rgba(var(--color-foreground), 0.08);
}

.footer__content-top{
display: grid;
grid-template-columns: 1fr 1fr;
}

.footer-block {
  width: 100%;
}

.footer-lunatic-image{
  max-height: 32rem;
  margin-top: 1.6rem;
}

.footer_lunatic_image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer-block--newsletter{
  grid-column: 1/3;
  margin-bottom: 3.2rem;
}

.footer__content-bottom{
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
  padding-top: 1.6rem;
}

@media screen and (min-width: 990px) {
  .footer__content-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer__blocks-wrapper{
    display:flex;
  }

  .footer-block{
    min-width: 24rem;
  }

  .footer_blocks-wrapper{
    grid-column: 1/3;
  }

  .footer-lunatic-image{
    grid-column: 2/3;
    max-height: 15.4rem;
  }

  .footer-block--newsletter{
    display: grid;
    justify-items: end;
    grid-column: 3/5;
    margin-bottom: 0;
  }

  .footer__content-top{
    margin-bottom: 3.2rem;
  }

}
