.simple-text-narrow-section{
    margin-left: auto;
    margin-right: auto;
	max-width: 72.6rem;
}

@media screen and (max-width: 990px) {

    .simple-text-narrow-section {
        margin-left: 90px;
        margin-right: 90px;
    }


}

@media screen and (max-width: 750px) {

    .simple-text-narrow-section {
        margin-left: 15px;
        margin-right: 15px;
    }


}