.simple-text-section{
    margin-left: auto;
    margin-right: auto;
	max-width: var(--page-width);
    padding: 0 5rem;
}

@media screen and (max-width: 990px) {

    .simple-text-section {
        margin-left: 90px;
        margin-right: 90px;
    }


}

@media screen and (max-width: 750px) {

    .simple-text-section {
        padding: 0 1.5rem;
    }

}